<form action="/celebrities" method="get">
    <input type="text" name="search">
    <button type="submit">Search!</button>
</form>

<a href="/celebrities/new">Add New Celebrity</a>

<h1>Celebrities</h1>
<ul>
  {{#each celebrities}}
    <li>
      {{> celebrity }}
    </li>
  {{/each}}
</ul>