<main>
  <h1>Lab Mongoose Movies</h1>
  <a href="/celebrities">See List of Celebrities</a>
  <a href="/">See List of Movies</a>
</main>

{{!-- <form action="/celebrities" method="get">
    <input type="text" name="search">
    <button type="submit">Search!</button>
</form>

<ul>
  {{#each celebrities}}
    <li>
      {{> celebrity }}
    </li>
  {{/each}}
</ul> --}}
